<%- include ('../partials/header'); %>
<title>Edit Client</title>
<%- include ('../partials/navbar'); %>
<link rel="stylesheet" type="text/css" href="/styles/login.css">

	
	<div>
            <div class="container">
                <h2 class="py-2 page_title">Edit Client:
				<% if (client_info.organization_name) { %>
				<%= client_info.organization_name %>
				<% } else { %>
					<%= client_info.first_name %> <%= client_info.middle_name %> <%= client_info.last_name %>
				<% } %> 				
				</h2>
                <form action="/clients/<%= client_info._id %>?_method=PUT" class="form_content" method="POST">
					<div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="client[organization_name]" placeholder="Organization Name" value="<%= client_info.organization_name %>" placeholder="Organization Name" type="text">
                    </div>   
					<div class="row">
						<div class="col-lg-4 form-group">
							<input autocomplete="off" autofocus class="form-control" name="client[first_name]" value="<%= client_info.first_name %>" placeholder="First Name" type="text">
						</div>
						<div class="col-lg-4 form-group">
							<input autocomplete="off" autofocus class="form-control" name="client[middle_name]" value="<%= client_info.middle_name %>" placeholder="Middle Name" type="text">
						</div>
						<div class="col-lg-4 form-group">
							<input autocomplete="off" autofocus class="form-control" name="client[last_name]" value="<%= client_info.last_name %>" placeholder="Last Name" type="text">
						</div>
					</div> 					
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="client[email_address]" value="<%= client_info.email_address %>" placeholder="Email Address" type="email">
                    </div>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="client[phone_number]" value="<%= client_info.phone_number %>" placeholder="Phone Number" type="text">
                    </div> 
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="client[street]" value="<%= client_info.street %>" placeholder="Street" type="text">
                    </div>    	
					<div class="row">
						<div class="col-lg-4 form-group">
							<input autocomplete="off" autofocus class="form-control" name="client[city]" value="<%= client_info.city %>" placeholder="City" type="text">
						</div>
						<div class="col-lg-4 form-group">
							<select class="form-control dropdown_search" name="client[state]">
								<option value="<%= client_info.state %>"><%= client_info.state %></option></option><option value="">State</option><option value="Alabama">Alabama</option><option value="Alaska">Alaska</option><option value="Arizona">Arizona</option><option value="Arkansas">Arkansas</option><option value="California">California</option><option value="Colorado">Colorado</option><option value="Connecticut">Connecticut</option><option value="Delaware">Delaware</option><option value="District of Columbia">District of Columbia</option><option value="Florida">Florida</option><option value="Georgia">Georgia</option><option value="Guam">Guam</option><option value="Hawaii">Hawaii</option><option value="Idaho">Idaho</option><option value="Illinois">Illinois</option><option value="Indiana">Indiana</option><option value="Iowa">Iowa</option><option value="Kansas">Kansas</option><option value="Kentucky">Kentucky</option><option value="Louisiana">Louisiana</option><option value="Maine">Maine</option><option value="Maryland">Maryland</option><option value="Massachusetts">Massachusetts</option><option value="Michigan">Michigan</option><option value="Minnesota">Minnesota</option><option value="Mississippi">Mississippi</option><option value="Missouri">Missouri</option><option value="Montana">Montana</option><option value="Nebraska">Nebraska</option><option value="Nevada">Nevada</option><option value="New Hampshire">New Hampshire</option><option value="New Jersey">New Jersey</option><option value="New Mexico">New Mexico</option><option value="New York">New York</option><option value="North Carolina">North Carolina</option><option value="North Dakota">North Dakota</option><option value="Northern Marianas Islands">Northern Marianas Islands</option><option value="Ohio">Ohio</option><option value="Oklahoma">Oklahoma</option><option value="Oregon">Oregon</option><option value="Pennsylvania">Pennsylvania</option><option value="Puerto Rico">Puerto Rico</option><option value="Rhode Island">Rhode Island</option><option value="South Carolina">South Carolina</option><option value="South Dakota">South Dakota</option><option value="Tennessee">Tennessee</option><option value="Texas">Texas</option><option value="Utah">Utah</option><option value="Vermont">Vermont</option><option value="Virginia">Virginia</option><option value="Virgin Islands">Virgin Islands</option><option value="Washington">Washington</option><option value="West Virginia">West Virginia</option><option value="Wisconsin">Wisconsin</option><option value="Wyoming">Wyoming</option>
							</select>
						</div>
						<div class="col-lg-4 form-group">
							<input autocomplete="off" autofocus class="form-control" name="client[zip]" value="<%= client_info.zip %>" placeholder="Zip" type="text">
						</div>
					</div>	
                    <div class="row">
						<div class="col-lg-6 form-group">
							<p>Client Description:</p>
							<textarea name="client[description]"><%= client_info.description %></textarea>
						</div>
						<div class="col-lg-6 form-group">
							<p>Is Active:</p>
							<select class="form-control" name="client[active]">
								<option value="<%= client_info.active %>"><%= client_info.active %></option>
								<option value="true">true</option>
								<option value="false">false</option>
							</select>
						</div>
						
                    </div> 					

                    <button class="button zoom" type="submit">Submit</button>
                </form>
            </div>
        </div>


<%- include ('../partials/footer'); %>