<%- include ('../partials/header'); %>
<title>Edit User Password</title>
<%- include ('../partials/navbar'); %>
<link rel="stylesheet" type="text/css" href="/styles/login.css">

	<div>
            <div class="container">
                <h2 class="py-2 page_title">Edit Password for <%= user.username %>:</h2>
				<form onsubmit="return confirmPassword(event);" class="form_content" action="/users/<%= user._id %>/edit_password?_method=PUT" method="POST">
							
					<div class="row">
						<div class="form-group col-lg-12">
							<input class="form-control" name="user[old_password]" placeholder="Old Password" type="password" required>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-lg-12">
							<input id="password" class="form-control" name="user[new_password]" placeholder="New Password" type="password" requried>
						</div>	
					</div>
					<div class="row">		
						<div class="form-group col-lg-12">
							<input id="confirm_password" class="form-control" name="user[confirm_password]" placeholder="Confirm Password" type="password" required>
						</div>				
					</div>

                    <button id="button" class="button zoom" type="submit">Submit</button>
                </form>
            </div>
	</div>

<%- include ('../partials/footer'); %>